language: java
jdk:
- oraclejdk8
install: true
script: mvn -fae -U -B clean install -P check
after_success:
- curl -Ls https://git.io/deploy-maven-snapshot | bash
- curl -Ls https://git.io/trigger-build | bash -s -- 52North/svalbard
- curl -Ls https://git.io/trigger-build | bash -s -- 52North/iceland develop
- curl -Ls https://git.io/trigger-build | bash -s -- 52North/sos feature/5.x
- curl -Ls https://git.io/trigger-build | bash -s -- 52North/javaPS
cache:
  directories:
  - "$HOME/.m2"
notifications:
  slack:
    secure: H0l2lmoZ/fhMcQcjbozU79U4zHEp4fBBjJOSc8clsXWX5wViTUy9GrZRP2P/YOS9417Kj/IX2vEtdbBVnFz6Qv3Rh4cbRB7tvYmh2ZC25FK8Lte05xWL1Hdi6f4liuCeDJeHFPrWjeeiUqFEhPk1SqwMsrOoM7Vv6unOqpdcXXkpJwlcMazODY6ngpcABXRxBHneQeGz78ibvYgd+joKRaSZrYbXpv0FrBBSOJUFEl8G8oatEqT9SbeHel6g/Wikefp4wglZZZqdxObam8kQYXQNmOdYOdd9FDAo/YJekJdSJX/RRMG4J9XheKw19YwzZTfaMXrTOKXb+SVntKv0eYg+OaFL9rvRpD9NZDsgzTv1t3koNpeFoOHFMQkCx+XzjjfAC1wCTWxxV8PQN5Q5UxrAFIueI0frZ57vUR+Kh04u2eYa1/WeHpxkS0G29OuWHB5l7j7ZqefteMO5nb8bMV58FkzoLbjdY4a/hGuMtyMiKke9RQkIpc7DERmOkT1sn9/sNasqzOmZLxBnqBCP+NCvD69KRMj80IFXBx9GNqRHJMiRTFia1Zq9gyJquk6AAq4yhM4K0ISpnAMPNpNcRmLX+MmMlRlWxqX3R58FGrLBQN8RuKHCJai9rFuIE4+gjZmhMPG09diYmoJqNWo2GXNAqabo+e5lXaoquMGaias=
