language: java
dist: xenial
jdk:
- openjdk8
- openjdk10
- openjdk11
matrix:
  include:
    # https://www.deps.co/guides/travis-ci-latest-java/#certificate-issues
    - jdk: openjdk9
      before_install:
        - rm "${JAVA_HOME}/lib/security/cacerts"
        - ln -s /etc/ssl/certs/java/cacerts "${JAVA_HOME}/lib/security/cacerts"
    - jdk: openjdk12
      before_install:
        - rm "${JAVA_HOME}/lib/security/cacerts"
        - ln -s /etc/ssl/certs/java/cacerts "${JAVA_HOME}/lib/security/cacerts"
    - jdk: openjdk13
      before_install:
        - rm "${JAVA_HOME}/lib/security/cacerts"
        - ln -s /etc/ssl/certs/java/cacerts "${JAVA_HOME}/lib/security/cacerts"

install: true
script: ./mvnw -fae -U -B clean install -P check
after_success:
- curl -Ls https://git.io/deploy-maven-snapshot | bash
- curl -Ls https://git.io/trigger-build | bash -s -- 52North/SOS feature/5.x
- curl -Ls https://git.io/trigger-build | bash -s -- 52North/javaPS
cache:
  directories:
  - "$HOME/.m2"
